@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
}

#container {
    width: 40%;
    border: 8px solid lightskyblue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#time {
    color: #fff;
    letter-spacing: 2px;
    font-size: 7em;
    text-shadow: 5px 3px 25px #fff;
}

#date {
    font-size: 1.5em;
    color: #fff;
    border: 2px lightskyblue;
    margin-bottom: 20px;
}


/* Responsive */
@media (min-width: 360px) {
    #container {
        /* width: 95%; */
        width: 95%;
    }
    #time {
        font-size: 4em;
    }
    #date {
        font-size: 1em;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    #container {
        width: 65%;
    }
    #time {
        font-size: 5.5em;
    }
    #date {
        font-size: 1.3em;
    }
}

@media (min-width: 1080px) {
    #container {
        width: 40%;
    }
    #time {
        font-size: 7em;
    }
    #date {
        margin-bottom: 20px;
        font-size: 1.5em;
    }
}
